.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 20000;
  background-color: black;
  animation: changeSize .2s ease-in-out;
  transition: all .4s;
  .fullimg {
    display: block;
    width: 100vw;
    float: left;
  }
}

.reverse {
  opacity: 0;
}

@keyframes changeSize {
  from {
    // transform: scale(0);
    opacity: 0;
  }

  to {
    // transform: scale(1);
    opacity: 1;
  }
}